<footer class="footer">

  <div class="row text-muted">

    <div class="col-lg-2 col-lg-offset-1 col-md-2 col-md-offset-1">
      <h4>{{ site.title }}</h4>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

    <div class="col-md-8">
      <p class="text">{{ site.description }}</p>
    </div>

    <div class="col-md-2">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github-square fa-fw"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          {% endif %}
    </div>

  </div>
</footer>
